<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>股票刷新系统DashBoard</title>
    <link rel="stylesheet" href="/stylesheets/dashboard.css">
    <script src="./lib/jQuery.js" async></script>
</head>
<body>
    <div class="tables">

    </div>
</body>
<script type="module" defer>
    import {view_dashboard} from "./javascripts/view_dashboard.js";
    view_dashboard.generateTables();
</script>
</html>