<html>

<head>
    <title>触发器总集</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/basic.css">
</head>

<body>
    <div class="full-screen" cellspacing="0">
        <table class="dash-board">
            <tr>
                <th>名称</th>
                <th>描述</th>
                <th>触发</th>
                <th>结果</th>
            </tr>
        </table>
    </div>
</body>

<script type="module">
    import {View_index} from "./javascripts/view_index.js";
    let controllerInstance = View_index.getInstance();
    controllerInstance.updateUI();
</script>

</html>
