html, body{
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
}
body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.tables {
    position: relative;
    padding: 1rem;
    text-align: center;
    margin-top: 3rem;
    animation: trans_display_animation 1.5s;
}

.report {
    position: relative;
    width: 25rem;
    display: inline-block;
    margin: 0rem 1rem;
    background: burlywood;
}

.title {
    background: darkred;
    color: white;

}

.body {
    overflow-y: auto;
    height: 15rem;
    color: white;
    text-align: center;
    background: cadetblue;
}

.row {
    border-bottom: 1px solid lightblue;
    padding: 0.5rem;
}

.row:focus-within {
    border: thin solid black;
}

.controller {
    color: white;
    position: absolute;
    padding: 3rem 3rem;
    bottom: 0rem;
    left: 0rem;
    right: 0rem;
    background: #ffffff9e;
    border-top: 1px solid black;
    animation: bottom_display_animation 1s;
}
