html, body{
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.full-screen {
  position: relative;
  width: 100%;
  text-align: center;
  padding-top: 5rem;
}

.status {
  background: green;
  width: 1rem;
  height: 1rem;
  border-radius: 4rem;
  display: inline-block;
}

table.dash-board {
  display: inline-block;
  border: 1px solid gray;
}

table.dash-board th {
  border: 1px solid green;
  min-width: 15rem;
}

table.dash-board td {
  text-align: center;
  border: 1px solid gray;
}

